@import "tailwindcss";

/* src/styles/global.css */

/* Define tus Custom Properties (variables CSS) */
:root {
  --color-jj-dark: #191716;
  --color-jj-accent: #F1BA38;
  --color-jj-light-bg: #f9f9f9;
  --color-jj-text-dark: #333333;
  --color-jj-text-light: #ffffff;
  --color-jj-gray: #cccccc;
}

/* Puedes añadir estilos base globales aquí si lo deseas */
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--color-jj-text-dark); /* Color de texto por defecto */
  background-color: #ffffff; /* Fondo blanco por defecto */
}
