---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
    description?: string;
}

// Desestructura las props para usarlas en el HTML
const { title, description = 'Servicios de construcción y acabados profesionales: Drywall, Pintura, Electricidad.' } = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | J&J Servicios Generales</title>
    <ClientRouter />
</head>
<body class="font-sans text-[var(--color-jj-text-dark)] bg-[var(--color-jj-text-light)]">
    <slot />
    
</body>
</html>